*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 16px; }
  @media screen and (max-width: 1100px) {
    html {
      font-size: 12px; } }
  @media screen and (max-width: 900px) {
    html {
      font-size: 11px; } }

body {
  font-family: "Open Sans", sans-serif;
  color: #414141; }

.header {
  margin-bottom: 6.25rem; }

.header__top {
  background-color: #f7f7f7; }
  .header__top-logo {
    margin-right: 2rem; }
  .header__top-list {
    display: flex;
    flex: 1 0 0;
    list-style: none;
    padding-bottom: 1rem; }
  .header__top-item:not(:last-child) {
    margin-right: 2.5rem; }
  .header__top-link {
    text-decoration: none;
    color: #414141;
    font-size: 0.9rem; }
    .header__top-link:hover {
      opacity: .7; }
  .header__top-watch, .header__top-sign {
    font-weight: 700;
    font-size: 0.9rem;
    padding: 1rem 1.6rem; }
    .header__top-watch:hover, .header__top-sign:hover {
      background-color: #69A08A;
      color: #ffffff; }
  .header__top-watch {
    margin-right: 1.75rem; }

.header__top-container {
  max-width: 90vw;
  margin: 0 auto;
  padding: 1rem 1.2rem;
  display: flex;
  align-items: flex-end; }

.header__bottom {
  background-color: #ffffff; }

.header__bottom {
  display: flex;
  justify-content: space-between; }
  .header__bottom-block {
    padding: 7.6rem 2.4rem 19rem 2.2rem; }
  .header__bottom-wrapper {
    margin-bottom: 2.75rem;
    width: 60%; }
  .header__bottom-item1 {
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    width: 74%;
    margin-bottom: 0.3rem; }
  .header__bottom-item2 {
    font-weight: 300;
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between; }
  .header__bottom-item3 {
    font-weight: 300;
    font-size: 1.25rem;
    text-align: center;
    width: 75%;
    margin-top: 1rem; }
  .header__bottom-img {
    background: url(../images/Hero__backgound-image.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    min-width: 50%; }
  .header__bottom-btn {
    display: flex;
    flex-wrap: nowrap; }
  .header__bottom-sign, .header__bottom-watch {
    padding: 1.25rem 3.25rem; }
  .header__bottom-sign {
    margin-right: 4.5rem; }

.btn {
  display: inline-block;
  border: none;
  border-radius: 0.6rem;
  border: solid 0.07rem #69A08A;
  background-color: #ffffff;
  cursor: pointer; }
  .btn:hover {
    background-color: #69A08A;
    color: #ffffff; }

.title {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  color: #414141; }

.title-lg {
  font-size: 3rem; }

.title-sm {
  font-size: 2.7rem; }

.descr-sm {
  font-size: 1rem;
  font-weight: 400; }

.descr-md {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 2rem; }

.descr-lg {
  font-size: 1.25rem;
  font-weight: 400; }

.mb-lg {
  margin-bottom: 4.5rem; }

.mb-sm {
  margin-bottom: 1.8rem; }

.believe {
  padding: 3.10rem 0 7.4rem 0;
  background-image: url(../images/Promo__figure.svg);
  background-repeat: no-repeat;
  background-size: contain; }
  .believe__wrapper {
    max-width: 43rem;
    margin: 0 auto; }
  .believe__descr {
    text-align: center; }
