.elements {
    padding-top: 8.8rem;

    &__top {
        background-image: url(../images/elements.jpg);
        background-repeat: no-repeat;
        background-position: left top;
        padding-bottom: 19rem;
        background-size: contain;
    }

    &__bottom {

        @media screen and (max-width: 1200px) {
            padding-top: 7rem;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: end;
    }

    &__text-box {
        max-width: 50%;

        @media screen and (max-width: 1200px) {
            max-width: 42%;
        }
    }

    &__descr {
        margin-bottom: 2.8rem;
    }

    button {
        padding: 1.2rem 3.1rem;
    }

    &__wrapper-bottom {
        display: flex;
        justify-content: center;
    }

    &__item {
        width: 22%;
        text-align: center;
        padding-top: 8rem;
        background-repeat: no-repeat;
        background-position: center top;

        &:not(:last-child) {
            margin-right: 4rem;
        }

        @media screen and (max-width: 1000px) {
            padding-top: 13rem;
        }
    }

    &__item-1 {
        background-image: url(../images/perfor.svg);
    }

    &__item-2 {
        background-image: url(../images/appl.svg);
    }

    &__item-3 {
        background-image: url(../images/feed.svg);
    }

    h3 {
        margin-bottom: 0.7rem;
    }

    p {
        line-height: 2rem;
    }
}