.footer {
    background-color: $color-white-sand;
    padding: 1.8rem 0 2.8rem;

    &__wrapper {

        @media screen and (max-width: 1200px) {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }
    }

    &__right,
    &__left {
        display: inline-block;
    }

    &__right {
        width: 40%;
        display: inline-flex;
        justify-content: flex-end;
    }

    &__logo-link {
        display: inline-block;
        margin-bottom: 1.3rem;
    }

    &__descr {
        margin-bottom: 2.3rem;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            padding-right: 1.1rem;
        }
    }

    &__link {
        transition: .3s;

        &:hover {
            color: $color-green;
        }
    }

    &__icon {
        display: inline-block;
        transition: .2s;

        &:not(:last-child) {
            margin-right: 1rem;
        }

        &:hover {
            -webkit-filter: brightness(1.2);
            filter: brightness(1.2);
        }
    }
}