.happier {
    padding-top: 13.5rem;
    padding-bottom: 6.3rem;

    &__wrapper {
        text-align: center;
    }

    &__top {
        margin-bottom: 9rem;
    }

    h2 {
        margin-bottom: 2.6rem;
        font-weight: 700;
    }

    p {
        &:not(:last-child) {
            margin-bottom: 1.6rem;
        }
    }

    button {
        padding: 1.2rem 3.1rem;
        background-color: $color-green;
        color: #fff;

        &:hover {
            background-color: #fff;
            color: #000000;
        }
    }
}