$font-primary: 'Playfair Display',
serif;
$font-secondary: 'Open Sans', sans-serif;
$color-black : #414141;
$color-green: #69A08A;
$color-white: #ffffff;
$color-white-sand: #f7f7f7;
$color-grey-light: #f8f7f7;